{% extends 'base.html.twig' %}

{% block title %}Nous Contact{% endblock %}

{% block body %}
<h1>Nous contacter</h1>
<h2>Vous avez des questions, des suggestions ou des demandes particulières ?</h2>
<img src="" alt="">

<p> N'hésitez pas à nous contacter !

Notre équipe se tient à votre disposition pour répondre à toutes vos interrogations et vous accompagner dans vos projets. Vous pouvez nous joindre par téléphone, par e-mail ou en remplissant le formulaire de contact sur notre site internet.

Nous ferons notre maximum pour vous apporter une réponse rapide et efficace. Nous sommes à l'écoute de nos clients et attachons une grande importance à leur satisfaction.

Alors n'hésitez plus, contactez-nous et découvrez notre savoir-faire en matière de dépannage informatique, de réseaux et sécurité, de formations, de création de sites web, de récupération de données, d'assistance à distance, de vente de matériel informatique, d'installation de caméras IP et de recyclage de matériel informatique.
</p>
{% endblock %}
