{% extends 'base.html.twig' %}

{% block title %}conformite{% endblock %}

{% block body %}
<h1>Conformite</h1>
<h2>Conformité des données personnelles : notre engagement</h2>
<img src="" alt="">
<p>Chez ADEI, nous prenons très au sérieux la conformité des données personnelles de nos clients et des utilisateurs de nos services. Nous nous engageons à respecter les normes en vigueur en matière de protection des données, notamment le Règlement Général sur la Protection des Données (RGPD) de l'Union européenne.

Pour cela, nous avons mis en place des mesures strictes de sécurité et de confidentialité pour protéger les données de nos clients. Nous collectons uniquement les données nécessaires à la fourniture de nos services et ne les conservons que pour la durée nécessaire.

Nous nous engageons également à informer nos clients de l'utilisation de leurs données personnelles et à leur offrir la possibilité de les modifier ou de les supprimer si nécessaire.

Si vous avez des questions ou des préoccupations concernant la conformité de vos données personnelles chez ADEI, n'hésitez pas à nous contacter. Nous serons ravis de répondre à toutes vos questions et de vous aider à résoudre tout problème éventuel.</p>
{% endblock %}
