h5{
    font-size: 90%;
}

p{
    font-size: 80%;
}

/************************************************
                card
************************************************/
.anim:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
      0% {
          transform: scale(1);
      }
  
      50% {
          transform: scale(1.1);
      }
  
      100% {
          transform: scale(1);
      }
  }
  
  .anim a:hover{
    color:black;
  }
  



