:root{                                /*variable de couleur ulisé */
  --main-color:#83db53;          
  --sec-color: #1c5368;
}



/******************************************************************************
header titre
*********************************************************/

header img{              /*pour viser essentiellement le logo(img) qui dans le header */
  width: 12%;               /*taille du logo*/
}

header h1{                /*pour viser essentiellement le h1 du header*/
    text-align: center;                 
    margin-top: 1rem;
    
}


/***********************************************************
navbar
************************************************************/
nav{                                  
  background-color: #f7fbf2;              /*background pour la nav*/
}

.navbar a:hover{                    /*au survol de la souris, les liens de la navbar auront un background*/
  background-color: var(--main-color);
 
}

.navbar a img {
  width: 15%;
}



/******************************************
        CARROUSEL 2 => plus petit, centré avec image claire
*******************************************/
.carousel-inner .color{

  background: linear-gradient(140deg,var(--main-color)  50%, var(--main-color) 50%,var(--sec-color) );
  display: flex;                        /*(le display flex est activé pour pouvoir centrer le .card-body-carousel*/
  justify-content: center;       
  color: white;
  
}

<<<<<<< HEAD
<<<<<<< HEAD
carousel-item img{
  max-width: 100%;
=======
*{
  text-align: justify;
}
>>>>>>> fcffeb0dc8db0e584b34fa561382179dac4fd6d6
=======
.card-body-carousel{                          /*pour centrer le texte dans la carousssel */
align-self: center;
text-align: center;
color: #ffffff;
text-shadow: 2px 2px 5px var(--sec-color);
}

h1{
  font-size: 200%;         /*taille des titres en h1 du site  à revoir*/ 
  
}


/*****************************************************************
                  FOOTER
*****************************************************************/
footer a:hover{
  background-color: var(--main-color);            /* "a:hover" pour mettre une couleur de fond sur les liens du footer au passage de la souris*/
}



>>>>>>> 253258f68c327d5b78871ffebfc2de644257ebf5
