:root{
  --main-color:#83db53;
  --sec-color: #1c5368;
}

*{
  text-align: justify;
}



/*************************************
pour que le footer reste toujours en bas
****************************************/
body{
  display: grid;
  grid-template-rows: auto 1fr auto;  /* ou display: flex;
                                          flex-direction: column;   + #contenu{   flex-grow: 1; }     */
}
html, body {
  height: 100%;
}
/******************************************************************************
header titre
*********************************************************/
header{
  margin-bottom: 30px;
}

header h1 img{
  width: 10%;
}

header h1{
    text-align: center;
    margin-top: 1rem;
}

/***********************************************************
navbar
************************************************************/

.navbar{
  /* background-color: #83db53; */
  /* background: linear-gradient(120deg, #83db53 100%, #1c5368 0%); */
}

.navbar a img {
  width: 15%;
}


/******************************************
taille logo à travailler
*******************************************/




/*****************************
            NAVBAR
*******************************/

.nav-link:hover{
    background-color: goldenrod;
}

  /**************************
         CARROUSEL 1 => toute la largeur mais écrase un peu l'image
         PS : Pour le voir, décommenter de le carousel 1 et commenter le carousel 2
*****************************/

/* .carousel-item{
   height: 400px;

}


img{
   
    max-width: 100%;
    max-height: 100%;
} */

/******************************************
        CARROUSEL 2 => plus petit, centré avec image claire
*******************************************/
#carouselDarkVariant{
  
   
    margin: auto;
}

.carousel-inner .color{
  background: linear-gradient(180deg,var(--main-color)  50%, var(--sec-color) 50%);

}

/************************************************
                card
************************************************/
.anim{
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}
