{% extends 'base.html.twig' %}

{% block title %}cgv{% endblock %}

{% block body %}
<h1>CGV</h1>
<h2>Conditions Générales de Vente (CGV)</h2>
<img src="" alt="">
<p>Les Conditions Générales de Vente (CGV) sont un document juridique important qui définit les modalités de vente entre notre entreprise et nos clients. Ces CGV définissent les termes et conditions dans lesquels nos produits et services peuvent être achetés, utilisés ou retournés.

Il est essentiel pour nos clients de prendre connaissance des CGV avant de passer commande sur notre site ou en magasin. Les CGV détaillent les clauses relatives à la livraison, aux modalités de paiement, aux retours et aux échanges de produits, à la garantie et à la propriété intellectuelle.

Chez ADEI, nous prenons très au sérieux la rédaction de nos CGV afin de garantir une transparence totale à nos clients. Nos CGV sont disponibles en ligne et peuvent être consultées à tout moment. N'hésitez pas à les lire attentivement avant de passer commande, ou à nous contacter pour toute question ou clarification supplémentaire.

Nous travaillons en partenariat avec des fournisseurs de confiance tels que HP, Dell, Lenovo et bien d'autres, afin de garantir à nos clients des produits de qualité supérieure et une satisfaction totale.</p>
{% endblock %}
