{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}

<div class="container">
<h1>Présentation</h1>
<img src="" alt="">
<p>ADEI est une entreprise spécialisée dans les services informatiques pour les professionnels et les particuliers. Depuis plusieurs années, nous accompagnons nos clients dans la mise en place et l'utilisation de solutions informatiques adaptées à leurs besoins.

Notre équipe de professionnels expérimentés est à votre écoute pour répondre à toutes vos demandes en matière de dépannage informatique, de formations, de création de sites web, d'installation de réseaux et de caméras IP, de vente de matériel informatique et de récupération de données.

Nous mettons tout en œuvre pour garantir la sécurité de vos données, en proposant des solutions de sauvegarde et de protection adaptées à votre entreprise ou à votre domicile. Nous nous engageons également à respecter l'environnement en recyclant le matériel informatique dont vous n'avez plus besoin.

Notre objectif est de vous offrir un service de qualité, en toute transparence et dans les délais les plus courts possibles. Nous sommes à l'écoute de vos besoins et nous vous accompagnons dans la mise en place de solutions adaptées à votre activité.

Nous sommes convaincus que la technologie peut être un outil puissant pour le développement de votre entreprise ou de votre domicile, c'est pourquoi nous mettons notre expertise à votre disposition pour vous accompagner dans toutes vos démarches informatiques.</p>

</div>
{% endblock %}

