{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Présentation</h1>
<img src="" alt="">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad voluptate placeat natus nisi tenetur sint explicabo ab
    magnam odit? Nam sit ipsa dolore, nostrum cupiditate magnam earum beatae facere iste!</p>


{% endblock %}

