{% extends 'base.html.twig' %}

{% block title %}Recuperation de donnees{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Récupération de données</h1>
<h2>Récupérez vos données importantes en cas de panne</h2>
<img src="" alt="">
<p>La perte de données est un cauchemar pour tout le monde. Mais avec ADEI, vous pouvez éviter ce problème en optant pour notre service de sauvegarde en ligne. Nous assurons une sauvegarde automatique et sécurisée de vos données critiques sur des serveurs distants, accessibles depuis n'importe quel endroit et à tout moment. De plus, en cas de perte de données, nous sommes en mesure de récupérer vos fichiers rapidement et efficacement. Ne prenez plus le risque de perdre des données importantes, faites confiance à ADEI pour vous fournir un service de sauvegarde en ligne fiable et sécurisé.</p>

                {{ form(form) }}
             
{% endblock %}
