{% extends 'base.html.twig' %}

{% block title %}Assistance a distance{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Assistance à distance</h1>
<h2>Une assistance rapide et pratique où que vous soyez</h2>
<img src="" alt="">
<p>L'assistance à distance est un service pratique et efficace pour résoudre rapidement les problèmes informatiques. 
Grâce à la technologie, il est désormais possible d'obtenir de l'aide en temps réel, où que vous soyez dans le monde. 
Ce service est particulièrement utile pour les petites entreprises et les particuliers qui n'ont pas toujours 
les ressources pour engager un technicien sur place. En outre, l'assistance à distance permet de gagner du temps et de
 réduire les coûts, car le technicien n'a pas besoin de se déplacer. Les outils utilisés pour l'assistance à distance 
 incluent les logiciels de contrôle à distance, les chats en direct et les appels vidéo. Avec un bon support technique 
 à distance, les problèmes informatiques peuvent être 
résolus rapidement et efficacement, ce qui permet de réduire les temps d'arrêt et d'améliorer la productivité.</p>

{{form(form)}}
{% endblock %}
