{% extends 'base.html.twig' %}

{% block title %}Particuliers{% endblock %}
{% block carrousel %}{% endblock %}
{% block paragraphe %}{% endblock %}
{% block body %}

<div class="container">
<h1>Particuliers</h1>
<h2>Des solutions informatiques pour les particuliers, chez vous ou à distance</h2>
<img src="" alt="">
<p>Nous proposons des solutions informatiques pour les particuliers, que ce soit pour le dépannage de votre ordinateur, l'installation de votre box internet ou de votre imprimante, ou encore pour des formations sur l'utilisation de logiciels. Nous sommes également en mesure de vous assister à distance pour résoudre rapidement vos problèmes informatiques. Nous proposons également des services de récupération de données pour vous aider à récupérer vos fichiers importants. N'hésitez pas à nous contacter pour en savoir plus sur nos services et obtenir un devis personnalisé.</p>
</div>

{% endblock %}
