{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Entreprises</h1>
<h2>Des solutions informatiques sur mesure pour votre entreprise</h2>
<img src="" alt="">
<p>Nous proposons des solutions informatiques adaptées aux besoins spécifiques de votre entreprise. Que ce soit pour le dépannage informatique, la mise en place d'un réseau sécurisé, la création d'un site web professionnel ou la formation de vos employés, nous mettons notre expertise à votre disposition pour vous aider à atteindre vos objectifs. De plus, nous proposons des services de récupération de données et d'assistance à distance pour une plus grande réactivité. N'hésitez pas à nous contacter pour discuter de vos projets et bénéficier de nos conseils personnalisés.</p>


{% endblock %}
