{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
{% for nos_service in nos_services %}

<h1>Ticket {{ nos_service.titre }} </h1>

{% endfor %}
{{ form(form) }}

{% endblock %}
