{% extends 'base.html.twig' %}

{% block title %}Vente de matériel{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Vente de matériel</h1>
<h2>Trouvez le matériel informatique dont vous avez besoin</h2>
<img src="" alt="">
<p>Nous proposons une large gamme de matériel informatique de qualité pour répondre à tous vos besoins. Que vous soyez une entreprise, un professionnel ou un particulier, nous avons le matériel qu'il vous faut : ordinateurs portables et de bureau, imprimantes, scanners, serveurs, accessoires informatiques et bien plus encore.

Nous travaillons avec les plus grandes marques du marché pour vous garantir des produits fiables et performants. Nous pouvons également vous conseiller et vous orienter dans le choix du matériel le plus adapté à vos besoins et à votre budget.

Nos prix sont compétitifs et nous proposons régulièrement des promotions pour vous permettre de réaliser des économies sur vos achats. De plus, nous assurons également l'installation et la configuration de votre matériel pour que vous puissiez en profiter dès sa réception.

N'hésitez pas à nous contacter pour plus d'informations sur notre gamme de matériel informatique et pour obtenir un devis personnalisé.</p>

{{form(form)}}


{% endblock %}
