{% extends 'base.html.twig' %}

{% block title %}Tutos{% endblock %}
{% block paragraphe %}{% endblock %}
{% block carrousel %}{% endblock %}
{% block body %}

<div class="container">
<h1>Tutos</h1>
<h2>Tutos informatiques pour résoudre vos problèmes</h2>
<img src="" alt="">
<p>Vous rencontrez un problème informatique et ne savez pas comment le résoudre ? Avant de faire appel à un professionnel, pensez à jeter un coup d'œil à nos tutos informatiques. Nous vous proposons des solutions simples et faciles à mettre en œuvre pour vous aider à résoudre vos problèmes informatiques courants. Que ce soit un problème de connexion internet, de lenteur de votre ordinateur, de virus ou de tout autre souci, nos tutos vous guideront étape par étape pour vous permettre de résoudre le problème rapidement et efficacement.

Nous vous proposons également des vidéos explicatives pour vous accompagner dans les étapes à suivre. Notre objectif est de vous aider à résoudre vos problèmes informatiques de manière autonome, afin d'économiser du temps et de l'argent tout en préservant l'environnement en évitant de consommer inutilement des appareils électroniques.

N'hésitez pas à consulter notre section de tutos informatiques pour trouver les solutions à vos problèmes et pour apprendre des astuces utiles pour une meilleure utilisation de votre équipement informatique.</p>
</div>

{% endblock %}
