{% extends 'base.html.twig' %}

{% block title %}A propos de Adei{% endblock %}

{% block body %}

<h1>À propos d'ADEI</h1>
<h2>À propos d'ADEI : notre histoire et nos valeurs</h2>
<img src="" alt="">
<p>ADEI est une entreprise de services informatiques créée en 2005 par une équipe de professionnels de l'informatique passionnés par leur métier. Depuis sa création, ADEI a pour mission d'accompagner les entreprises et les particuliers dans l'utilisation et la gestion de leur matériel informatique.

Nous sommes spécialisés dans plusieurs domaines : la vente de matériel informatique, le dépannage, la récupération de données, la création de sites web, les formations et l'assistance à distance.

Notre équipe est composée de professionnels qualifiés et expérimentés, qui mettent leur expertise à votre service pour vous offrir des solutions adaptées à vos besoins. Nous travaillons en étroite collaboration avec nos clients pour comprendre leurs besoins et leur offrir des solutions sur mesure.

Chez ADEI, nous sommes convaincus que la technologie doit être mise au service des hommes et non l'inverse. C'est pourquoi nous accordons une grande importance à la qualité de nos services et à la satisfaction de nos clients.

Nous sommes fiers de la qualité de notre travail et de notre engagement envers nos clients. Chez ADEI, nous croyons que la réussite de nos clients est la clé de notre propre succès.</p>

{% endblock %}
