{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}



{% block body %}



<div class="container-fluid  ">
<div class="row d-flex flex-row justify-content-center">

  <div class="col-xxl-2 col-md-6 m-xxl-1 col-6 ">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Dépannage informatique</h5>
        <p class="card-text">Dépannage informatique</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

  <div class="col-xxl-2 col-md-6 m-xxl-1 col-6">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Réseaux et sécurité</h5>
        <p class="card-text">Réseaux et sécurité</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Formations</h5>
        <p class="card-text">Formations</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Création de sites web</h5>
        <p class="card-text">Création de sites web.</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Récupération de données</h5>
        <p class="card-text">Récupération de données</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>






  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Assistance à distance</h5>
        <p class="card-text">Assistance à distance</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Vente de matériel</h5>
        <p class="card-text">Vente de matériel.</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Installation de caméra IP</h5>
        <p class="card-text">Installation de caméra IP</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">recycler du matériel informatique</h5>
        <p class="card-text">recycler du matériel informatique</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-2 col-md-6 m-xxl-1 col-12">
    <div class="card" style="width: 18rem; margin-top: 30px;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">recycler du matériel informatique</h5>
        <p class="card-text">recycler du matériel informatique</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

</div>
</div>
















{% endblock %}




