{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Formations</h1>
<h2>Améliorez vos compétences en informatique</h2>
<img src="" alt="">
<p>Vous cherchez à améliorer vos compétences informatiques pour votre travail ou pour votre vie personnelle ? Notre entreprise ADEI vous propose des formations informatiques personnalisées adaptées à vos besoins et à votre niveau. Que vous soyez débutant ou utilisateur expérimenté, nous pouvons vous aider à maîtriser les outils informatiques tels que les logiciels de traitement de texte, les tableurs, la retouche photo, la gestion de fichiers, l'utilisation d'internet, la sécurité informatique, etc.

Nos formateurs expérimentés peuvent dispenser des cours en individuel ou en groupe selon vos préférences. Nous prenons en compte vos besoins spécifiques et établissons un programme de formation personnalisé pour vous permettre de progresser rapidement. Avec notre aide, l'informatique ne sera plus une source de stress, mais un outil à votre service. N'hésitez pas à nous contacter pour en savoir plus sur nos formations informatiques.</p>

{{form (form)}}
{% endblock %}
