{% extends 'base.html.twig' %}

{% block title %}Sauvegarde en ligne{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Sauvegarde en ligne</h1>
<h2>titre H2</h2>
<img src="" alt="">
<p>Sauvegarde en ligne pour les entreprises et les particuliers : protégez vos données efficacement et en toute sécurité. Découvrez comment fonctionnent les solutions de sauvegarde en ligne, leurs caractéristiques et fonctionnalités, ainsi que les éléments à prendre en compte pour calculer votre budget dédié à la sauvegarde. Ne laissez plus rien au hasard et assurez la protection de vos données importantes.</p>

{{form(form)}}
{% endblock %}
