{% extends 'base.html.twig' %}

{% block title %}Hello CookiesController!{% endblock %}

{% block body %}
<h1>Cookies</h1>
<h2>Politique de cookies</h2>
<img src="" alt="">
<p>Notre site utilise des cookies pour améliorer votre expérience en ligne. Les cookies sont des petits fichiers texte stockés sur votre ordinateur ou votre appareil mobile lorsque vous visitez un site web. Ils permettent au site de se souvenir de vos préférences et d'améliorer votre navigation.

Nous utilisons des cookies pour :

    Mesurer et analyser l'audience de notre site
    Améliorer la qualité et la pertinence de nos contenus
    Personnaliser votre expérience en ligne
    Faciliter les interactions avec les réseaux sociaux

Les cookies que nous utilisons ne collectent pas d'informations personnelles identifiables. Nous ne les utilisons pas pour vous identifier personnellement ni pour vous suivre en dehors de notre site.

En utilisant notre site, vous acceptez l'utilisation de cookies conformément à notre politique. Vous pouvez à tout moment désactiver les cookies en modifiant les paramètres de votre navigateur. Veuillez noter que la désactivation des cookies peut affecter certaines fonctionnalités de notre site.

Pour en savoir plus sur notre politique de cookies et sur la manière dont nous utilisons vos données personnelles, veuillez consulter notre politique de confidentialité.</p>
{% endblock %}
