{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
<h1>CGU</h1>
<h2>Conditions Générales d'Utilisation (CGU)</h2>
<img src="" alt="">
<p>Les Conditions Générales d'Utilisation (CGU) définissent les règles et conditions d'utilisation de notre site web et de nos services. En utilisant notre site web, vous acceptez automatiquement ces conditions générales d'utilisation. Il est important de lire attentivement les CGU avant d'utiliser notre site web afin de comprendre les droits et les obligations de chacun.

Nos CGU abordent divers sujets tels que la propriété intellectuelle, la responsabilité de l'utilisateur, les conditions de paiement et les règles relatives à la confidentialité des données. Nous nous réservons le droit de modifier les CGU à tout moment, sans préavis. Il est donc recommandé de consulter régulièrement cette page pour rester informé des éventuelles modifications.

En cas de violation des CGU, nous nous réservons le droit de prendre des mesures appropriées, y compris la suspension ou la résiliation de votre compte utilisateur. Nous nous engageons à respecter les lois et règlementations applicables en matière de protection des données et à assurer la sécurité de vos informations personnelles conformément à notre politique de protection des données.

En utilisant notre site web et nos services, vous reconnaissez avoir pris connaissance et accepté les présentes CGU.</p>
{% endblock %}
