{% extends 'base.html.twig' %}

{% block title %}Politique De Protection Des Donnees{% endblock %}

{% block body %}
<h1> Politique de protection des données chez ADEI</h1>
<img src="" alt="">
<p>Chez ADEI, nous accordons une grande importance à la protection des données de nos clients et partenaires. Nous avons mis en place une politique de protection des données conformément aux réglementations en vigueur pour assurer la confidentialité, l'intégrité et la disponibilité de toutes les données que nous collectons, traitons et stockons.

Nous sommes soucieux de la sécurité de vos données et nous utilisons des méthodes de protection avancées pour éviter toute fuite ou utilisation abusive de vos informations. Nous ne collectons que les données nécessaires à la réalisation des services que nous offrons et nous nous engageons à ne pas les utiliser à d'autres fins sans votre consentement.

Nous prenons également des mesures pour garantir que les données sont exactes et mises à jour. Nous sommes également disposés à vous fournir l'accès, la rectification et la suppression des données personnelles que nous détenons sur vous, conformément aux lois en vigueur.

Chez ADEI, nous sommes conscients de l'importance de la confidentialité de vos données et nous nous engageons à prendre toutes les mesures nécessaires pour protéger vos informations.</p>
{% endblock %}
