<form method="post" action="{{ path('app_nos_services_delete', {'id': nos_service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nos_service.id) }}">
    <button class="btn">Delete</button>
</form>
