{% extends 'base.html.twig' %}

{% block title %}Reclamations{% endblock %}

{% block body %}

<h1>Service Réclamations</h1>
<img src="" alt="">
<p>Nous accordons une grande importance à la satisfaction de nos clients et sommes toujours à leur écoute pour répondre à leurs besoins. Si vous avez une réclamation concernant nos services ou nos produits, nous sommes là pour vous aider.

Nous vous invitons à nous contacter par téléphone, email ou courrier pour nous faire part de votre réclamation. Nous prendrons en compte votre demande et ferons tout notre possible pour la résoudre rapidement et efficacement.

Nous tenons à souligner que nous prenons toutes les réclamations au sérieux et les considérons comme des opportunités d'amélioration de nos services et produits pour répondre aux besoins de nos clients.

Nous vous remercions pour votre confiance en notre entreprise et sommes à votre disposition pour toute réclamation ou suggestion.</p>
{% endblock %}
