{% extends 'base.html.twig' %}

{% block title %}Installation de materiel{% endblock %}

{% block body %}
{% block carrousel %}{% endblock %}
<h1>Installation de matériel</h1>
<h2>Surveillez votre entreprise ou votre domicile en tout temps</h2>
<img src="" alt="">
<p>Vous avez acheté du nouveau matériel informatique pour votre entreprise ou pour votre usage personnel, mais vous ne savez pas comment l'installer ? Nous sommes là pour vous aider ! Nous pouvons installer tout type de matériel informatique, qu'il s'agisse d'un ordinateur, d'une imprimante, d'un scanner, d'un routeur, ou même de périphériques plus spécifiques tels que des serveurs ou des baies de stockage.

Notre équipe de techniciens qualifiés peut intervenir chez vous pour installer et configurer votre matériel informatique. Nous nous assurons que tout fonctionne correctement avant de partir, afin que vous puissiez utiliser votre nouveau matériel en toute confiance. Nous pouvons également vous donner des conseils sur l'utilisation et l'entretien de votre matériel, afin de vous aider à en tirer le meilleur parti.</p>

{{form(form)}}
{% endblock %}
