{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}

<h1>Mentions legales</h1>
<h2>Mentions légales</h2>
<img src="" alt="">
<p>Les présentes mentions légales définissent les conditions d'utilisation du site web de ADEI. En accédant à ce site web, vous acceptez ces conditions d'utilisation.

Raison sociale : ADEI

Siège social : [adresse du siège social]

Numéro de téléphone : [numéro de téléphone]

Directeur de la publication : [nom du directeur de la publication]

Hébergement : [nom de l'hébergeur]

Le site web de ADEI a été créé dans le but de fournir des informations sur les produits et services offerts par l'entreprise. Toutes les informations contenues sur ce site web sont fournies à titre indicatif et peuvent être modifiées à tout moment sans préavis.

Les droits de propriété intellectuelle relatifs au site web de ADEI appartiennent à l'entreprise ou à ses partenaires. Toute reproduction, représentation, modification, publication, transmission ou exploitation de ce site web est strictement interdite sans l'autorisation préalable et écrite de ADEI.

ADEI ne pourra être tenu responsable de tout dommage direct ou indirect résultant de l'utilisation de ce site web ou des informations qui y sont contenues.

En accédant à ce site web, vous acceptez que les présentes mentions légales soient régies et interprétées conformément au droit français et que tout litige découlant de l'utilisation de ce site web soit soumis à la compétence exclusive des tribunaux français.</p>


{% endblock %}
