{% extends 'base.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block body %}
<h1>Fournisseurs</h1>
<h2>titre H2</h2>
<img src="" alt="">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad voluptate placeat natus nisi tenetur sint explicabo ab
    magnam odit? Nam sit ipsa dolore, nostrum cupiditate magnam earum beatae facere iste!</p>

{{form(form)}}
{% endblock %}
