{% extends 'base.html.twig' %}

{% block title %}faqs{% endblock %}

{% block body %}
<h1>Faqs</h1>
<h2>Foire aux questions (FAQs)</h2>
<img src="" alt="">
<p>Texte : Bienvenue dans notre section FAQ ! Vous trouverez ici les réponses aux questions les plus fréquemment posées par nos clients. Nous avons rassemblé ces questions et réponses dans cette section pour vous aider à mieux comprendre nos services et notre entreprise.

Si vous avez des questions spécifiques qui ne sont pas abordées dans cette section, n'hésitez pas à nous contacter via notre formulaire de contact ou par téléphone. Nous serons heureux de vous aider dans les plus brefs délais.

Parcourez notre FAQ pour en savoir plus sur nos services, notre politique de protection des données, nos modalités de livraison et de paiement, notre politique de retour et bien plus encore. Nous espérons que vous trouverez les informations dont vous avez besoin dans cette section et que cela vous aidera à faire un achat en toute confiance.</p>
{% endblock %}
