{% extends 'base.html.twig' %}

{% block title %}Reglement Interieur{% endblock %}

{% block body %}
<h1>Reglement Interieur</h1>
<h2>Règlement intérieur ADEI : Pour une meilleure organisation de notre entreprise</h2>
<img src="" alt="">
<p>Le règlement intérieur de notre entreprise ADEI est un document essentiel pour garantir le bon fonctionnement de notre organisation. Il a pour but de définir les règles de conduite et les obligations de chacun au sein de l'entreprise, afin d'assurer un environnement de travail harmonieux et sécurisé pour tous.

Le règlement intérieur de l'ADEI aborde différents thèmes tels que la ponctualité, l'utilisation du matériel informatique, la sécurité au travail, les relations entre collègues, les absences et les congés, les sanctions disciplinaires, etc. Nous sommes convaincus qu'un règlement clair et précis permet d'éviter les incompréhensions et les malentendus entre les membres de notre entreprise.

Nous vous invitons donc à prendre connaissance du règlement intérieur de l'ADEI et à le respecter scrupuleusement. En effet, le respect des règles édictées dans ce document est un élément clé pour garantir une bonne cohésion de notre équipe et assurer le succès de notre entreprise.</p>
{% endblock %}
